[gcode_macro START_PRINT]
gcode:

    {% set BED_TEMP = params.BED_TEMP|default(0)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(0)|float %}

    M82 ;absolute extrusion mode
    G90 ; absolute positioning

    INFO TEXT='Heating up...' ; Put printing message on LCD screen

    M104 S150 ; Preheat nozzle
    M190 S{BED_TEMP} ; wait for bed temp

    M104 S{EXTRUDER_TEMP} ; set extruder temp
    G28; Home X Y Z
    
    G1 Z20 Y20 X0.1 F3000 ; wait position
    M109 S{EXTRUDER_TEMP} ; wait for extruder temp

    ; Auto Leveling
    BED_MESH_PROFILE LOAD=default
    
    ; Start of priming
    INFO TEXT='Priming'

    G92 E0 ; Reset Extruder
    G1 X0.1 Y20 Z0.3 F5000.0 ; Move to start position
    G1 X0.1 Y200.0 Z0.3 F1500.0 E15 ; Draw the first line
    G1 X0.4 Y200.0 Z0.3 F5000.0 ; Move to side a little
    G1 X0.4 Y20 Z0.3 F1500.0 E30 ; Draw the second line
    G92 E0 ; Reset Extruder
    G1 Z2.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
    G1 X5 Y20 Z0.3 F5000.0 ; Move over to prevent blob squish

    INFO TEXT='Start print...'
    ; Start of actual GCode for the print

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M107

    # Move nozzle away from print while retracting
    G91
    G1 E-2 F2700 ;Retract a bit
    G1 E-2 Z5 F3000 ; Raise nozzle
    G1 X5 Y5 Z5 F3000 ; Park nozzle

    G90
    G1 X1 Y{printer.toolhead.axis_maximum.y - 10} ;Present print

    # Disable steppers
    M84 X Y E ;Disable all steppers but Z
    M300 S100 P100
    #END_TUNE

[gcode_macro TEST]
gcode:
    INFO TEXT=


# Prusa default
# G90 ; use absolute coordinates
# M83 ; extruder relative mode
# M104 S120 ; set temporary nozzle temp to prevent oozing during homing and auto bed leveling
# M140 S[first_layer_bed_temperature] ; set final bed temp
# G4 S10 ; allow partial nozzle warmup
# G28 ; home all axis
# G1 Z50 F240
# G1 X2 Y10 F3000
# M104 S{first_layer_temperature[initial_extruder]+extruder_temperature_offset[initial_extruder]} ; set final nozzle temp
# M190 S[first_layer_bed_temperature] ; wait for bed temp to stabilize
# M109 S{first_layer_temperature[initial_extruder]+extruder_temperature_offset[initial_extruder]} ; wait for nozzle temp to stabilize
# G1 Z0.28 F240
# G92 E0
# G1 Y140 E10 F1500 ; prime the nozzle
# G1 X2.3 F5000
# G92 E0
# G1 Y10 E10 F1200 ; prime the nozzle
# G92 E0

# {if max_layer_z < max_print_height}G1 Z{z_offset+min(max_layer_z+2, max_print_height)} F600 ; Move print head up{endif}
# G1 X5 Y{print_bed_max[1]*0.8} F{travel_speed*60} ; present print
# {if max_layer_z < max_print_height-10}G1 Z{z_offset+min(max_layer_z+70, max_print_height-10)} F600 ; Move print head further up{endif}
# {if max_layer_z < max_print_height*0.6}G1 Z{max_print_height*0.6} F600 ; Move print head further up{endif}
# M140 S0 ; turn off heatbed
# M104 S0 ; turn off temperature
# M107 ; turn off fan
# M84 X Y E ; disable motors